@import "tailwindcss";

* {
  scroll-behavior: smooth;
}

@layer components {
  .btn-primary {
    @apply bg-transparent border-2 text-black text-[15px] mx-[5px] px-5 py-1 rounded-full 
           hover:scale-105 transition duration-200 
           font-medium shadow-md;
  }
  .btn-primary.active {
    @apply bg-black border-black text-white;
  }
}
